<div class="detailContainer" fxLayoutAlign="start center" fxLayout="column row" fxLayoutGap="2vh"
    *ngIf='activity.length > 0'>
    <img src={{activity[0].image_url}} class="actImg">
    <div class="content" fxLayout="column row" fxLayoutAlign="space-around center" fxLayoutGap="5vh">
        <h2>{{activity[0].name.toUpperCase()}}</h2>
        <table>
            <tr>
                <td>
                    COST
                </td>
                <td>
                    {{activity[0].cost}}
                </td>
            </tr><br>

            <tr>
                <td>
                    LOCATION
                </td>
                <td>
                    {{activity[0].location}}
                </td>
            </tr><br>

            <tr *ngIf='activity[0].remarks'>
                <td>
                    REMARKS
                </td>
                <td>
                    {{activity[0].remarks}}
                </td>
            </tr>

            <tr>
                <td>
                    WEBSITE
                </td>
                <td>
                    <a href="{{activity[0].url}}" *ngIf='activity[0].url.length >0'>Click here!</a>
                </td>
            </tr>
        </table>

    </div>
</div>