<div class="detailContainer" fxLayoutAlign="start center" fxLayout="column row" fxLayoutGap="2vh">
    <img src={{activity[0].image_url}} class="actImg">
    <div class="content" fxLayout="column row" fxLayoutAlign="space-around center" fxLayoutGap="5vh">
        <h1>{{activity.name}}</h1>
        <div>
            <table>
                <tr>
                    <td>
                        Cost
                    </td>
                    <td>
                        {{activity[0].cost}}
                    </td>
                </tr>

                <tr>
                    <td>
                        Location
                    </td>
                    <td>
                        {{activity[0].location}}
                    </td>
                </tr>

                <tr>
                    <td>
                        Details
                    </td>
                    <td>
                        <a href="{{activity[0].url}}">Visit their site!</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>