.actImg {
    object-fit: cover; 
    width: 100vw;
    height: auto;
}

.detailContainer {
    height:95vh;
    font-family: Montserrat,sans-serif;
}

.data{
    width: 80%;
    text-align: center;
    background-color: white;
}

.content {
    width:90vw;
    height:auto;
    border:2px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 15px;;
}

td:nth-child(2) {
    text-align: center;
}