.actImg {
    object-fit: cover; 
    width: 100vw;
    height: auto;
}

.detailContainer {
    height:95vh;
    font-family: Montserrat,sans-serif;
}

.data{
    width: 80%;
    text-align: center;
    background-color: white;
}

.content {
    width:85vw;
    height:auto;
}

td:nth-child(2) {
    text-align: right;
}