<div class="detailContainer">
    <img src={{activity.img}} class="actImg">
    <table class="data">
        <tr>
            <td>
                <h3>Name</h3>
            </td>
            <td>
                <p>{{activity.name}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Cost</h3>
            </td>
            <td>
                <p>${{activity.cost}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Location</h3>
            </td>
            <td>
                <p>{{activity.location}}</p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <a href="{{activity.url}}">More details</a>
            </td>
        </tr>
    </table>

</div>