.actImg {
    object-fit: cover; 
    width: 100vw;
    height: auto;
}

.detailContainer {
    height:100vh;
    font-family: Montserrat,sans-serif;
    background-color: white;
}

.data{
    width: 80%;
    text-align: center;
    background-color: white;
}

.content {
    /* background-color: aliceblue; */
    width:80vw;
    height:40vh;
    border:2px solid black;
    border-radius: 5px;
}

td:nth-child(2) {
    text-align: center;
}