<!-- <div (swiperight)="goLeft()" class="container" fxLayout="column"> -->
<div fxLayout="column">
    <div *ngFor="let act of actList" fxLayoutAlign="space-around " (click)="goTo(act._id)">
        <mat-card class="customCard">
            <mat-card-content>
                <img src="{{act.image_url}}" class="actImg">
            </mat-card-content>
            <mat-card-content>
                <h2>{{act.name}}</h2>
                <!-- <p>Where: {{act.location}}</p> -->
            </mat-card-content>
        </mat-card>
    </div>
</div>