.actImg {
    object-fit: cover; 
    width: 90vw;
    height: auto;
}

.customCard {
    padding:5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    /* background-color:pink; */
    font-family: Montserrat,sans-serif;
}