<!-- <div (swipeleft)="goRight()" class="container"> -->
<div>
    <div *ngFor="let food of foodList" fxLayoutAlign="space-around " (click)="goTo(food.id)">
        <mat-card class="customCard">
            <mat-card-content>
                <img src="{{food.img}}" class="actImg">
            </mat-card-content>
            <mat-card-content>
                <h2>{{food.name}}</h2>
                <p>Where: {{food.location}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>