<meta name="apple-mobile-web-app-capable" content="yes">

<mat-toolbar color="warn">
  <mat-toolbar-row fxLayout="row column" fxLayoutAlign="space-around center">
    <span>BINTAN LETS GO</span>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayoutGap="3vw" fxLayoutAlign="space-around">
    <mat-icon (click)="navigate()" fxLayoutAlign="start">home</mat-icon >
    <span (click)="navigate('food')">FOOD</span>
    <span (click)="navigate('chill')">CHILL</span>
    <span (click)="navigate('activities')">ACTIVITIES</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>