/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("./assets/bg.jpg");
    background-color:white;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: 100% top;
    background-attachment: fixed;
}
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  